@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
}

.btn-primary {
	@apply bg-sky-600 text-white px-4 py-2 rounded hover:bg-sky-700 disabled:opacity-60;
	@apply dark:bg-sky-500 dark:hover:bg-sky-600;
}

.card {
	@apply bg-white shadow rounded p-4;
	@apply dark:bg-gray-800 dark:shadow-gray-900/50;
}


